.header-store {
  color: #fff;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}

.header-store > .title {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}

.header-store > .navigation {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
  position: relative;
}

.header-store .box {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin-right: 60px;
  text-align: center;

}

.header-store .action {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
  display: inline-block;
  text-decoration: none;

}

.header-store .action:after {
  border-bottom: 1px solid #fff;
  display: block;
  content: "";
  width: 0;
  padding-bottom: 15px;
  transition: all 1s ease;

}

.header-store .action:hover:after {
  width: 100%;
  padding-bottom: 15px;

}

.header-store .action.-last {
  margin-right: 0;
}

.header-store #bucar {
  background: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  width: 360px;
  margin-left: 315px;
  color: #fff;

  border-color: #fff;
  font-size: 20px;
  float: left;
  line-height: 31px;

}

.header-store #bucar::placeholder {
  color: #fff;
  font-size: 20px;

}
