.photo-product {
  background-color: #fff;
  display: inline-block;
  height: 554px;
  vertical-align: middle;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 157px;
}

.photo-product > img {
  width: 100%;
  height: auto;
  max-width: 547px;
}
@media (max-width:1193px) {
  .photo-product {
    margin-right: 87px;
  }
}
@media (max-width:1123px) {
  .photo-product {
    margin-right: 65px;
  }

}
@media (max-width:1123px) {
  .photo-product {
    margin-right: 29px;
    max-width: 450px;
    height: 484px;
  }

}
@media (max-width:942px) {
  .photo-product {
    margin-right: 29px;
    max-width: 100%;
    height: auto;
    width: 90%;
    text-align: center;
  }
}
